.container#main {
  position: relative;
}

#flash_messages {
  position: absolute;
  right: 15px;
  transition: all 0.5s;

  &.fade {
    opacity: 0;
  }
}

.label {
  &.casual { background-color: #5cb85c; }
  &.formal { background-color: #DF691A; }
}
